<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Comparator</title>
	<link rel='stylesheet' type='text/css' href='style.css' />
</head>
<body ng-app='myApp' ng-controller='myCtl as ctl'>

<div class='canvas group'>
	<div class='score'>Score: {{ctl.score}}</div>
	<div class='first value' ng-click='ctl.firstClick()'>{{ctl.value1.value}}</div>
	<div class='second value' ng-click='ctl.secondClick()'>{{ctl.value2.value}}</div>
	<div class='instructions'> Click on the value that is larger.</div>
</div>

<!-- use local angular (saved version from src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js' -->
<script src="angular.min.js"></script>
<script>
	angular.module( 'myApp', [] )
	.controller( 'myCtl', [ '$http', '$log', function($http, $log) {
		var self = this;
		var values = [
			{display: 1, value: 1},
			{display: 2, value: 2},
			{display: 3, value: 3},
			{display: 4, value: 4},
			{display: 5, value: 5},
			{display: 6, value: 6},
			{display: 7, value: 7}
			];
		
		var reset = function() {
			var index = Math.floor(Math.random() * values.length);
			self.value1 = values[index];
			do {
				var index = Math.floor(Math.random() * values.length);
				self.value2 = values[index];
			} while (self.value2.value === self.value1.value);
			if (self.value1.value > self.value2.value) {
				answer = 1;
			} else {
				answer = 2;
			}
		}
		
		reset();
		self.score = 0;
		
		self.firstClick = function() {
			if (answer === 1) {
				self.score++;
			}
			reset();
		}
		
		self.secondClick = function() {
			if (answer === 2) {
				self.score++;
			}
			reset();
		}
	
	}]);
</script>
</body>
</html>