<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Comparator</title>
	<link rel='stylesheet' type='text/css' href='style.css' />
</head>
<body ng-app='myApp' ng-controller='myCtl as ctl'>

<div class='canvas group'>
	<div class='score'>Score: {{ctl.score}}</div>
	<div class='first value' ng-click='ctl.firstClick()' ng-show='ctl.gameOn'>{{ctl.value1}}</div>
	<div class='second value' ng-click='ctl.secondClick()' ng-show='ctl.gameOn'>{{ctl.value2}}</div>
	<div class='instructions'>{{ctl.instructions}} </div>
	<div class='score'>Time Left: {{ctl.timer}}</div>
</div>

<!-- use local angular (saved version from src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js' -->
<script src="angular.min.js"></script>
<script>
	angular.module( 'myApp', [] )
	.controller( 'myCtl', [ '$interval', '$http', '$log', function($interval, $http, $log) {
		var self = this;
		var values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
		var startTime = 30;
		self.gameOn = true;
		self.score = 0;
		self.timer = startTime;
		self.instructions = 'Click on the value that is larger.';
		
		var countdown = function() {
			self.timer--;
			if (self.timer <= 0) {
				self.instructions = "Game Over";
				self.gameOn = false;
			}
		}
		var tick = $interval(countdown, 1000, startTime);
		
		var reset = function() {
			var index = Math.floor(Math.random() * values.length);
			self.value1 = values[index];
			do {
				var index = Math.floor(Math.random() * values.length);
				self.value2 = values[index];
			} while (self.value2 === self.value1);
			if (self.value1 > self.value2) {
				answer = 1;
			} else {
				answer = 2;
			}
		}
		
		reset();
		
		self.firstClick = function() {
			if (answer === 1) {
				self.score++;
			}
			reset();
		}
		
		self.secondClick = function() {
			if (answer === 2) {
				self.score++;
			}
			reset();
		}
		
	
	}]);
</script>
</body>
</html>